absl-py==0.9.0
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.3
angel-cd==1.0.2
argh @ file:///home/conda/feedstock_root/build_artifacts/argh_1595627874344/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1596629848788/work
asn1crypto @ file:///home/conda/feedstock_root/build_artifacts/asn1crypto_1595949944546/work
astor==0.8.1
astroid @ file:///home/conda/feedstock_root/build_artifacts/astroid_1591645081755/work
astropy==4.0.1.post1
async-generator==1.10
atomicwrites @ file:///home/conda/feedstock_root/build_artifacts/atomicwrites_1588182545583/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1599308529326/work
autograd==1.3
autopep8 @ file:///home/conda/feedstock_root/build_artifacts/autopep8_1596345643597/work
Babel==2.8.0
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1597679909012/work
biopython==1.74
bitarray @ file:///home/conda/feedstock_root/build_artifacts/bitarray_1598307770254/work
bkcharts==0.2
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1600454382015/work
bokeh==1.4.0
boto==2.49.0
boto3 @ file:///home/conda/feedstock_root/build_artifacts/boto3_1600466082052/work
botocore @ file:///home/conda/feedstock_root/build_artifacts/botocore_1600462894755/work
Bottleneck==1.3.2
brotlipy==0.7.0
bz2file==0.98
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1593420445823/work
cdlib==0.1.7
certifi==2020.6.20
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1600276415718/work
chardet @ file:///home/conda/feedstock_root/build_artifacts/chardet_1600358515540/work
click==7.1.2
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1598400192773/work
clyent==1.2.2
colorama==0.4.3
colorcet==2.0.1
conda==4.8.5
conda-build==3.18.11
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1600353356226/work
conda-verify==3.1.1
contextlib2==0.6.0.post1
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1598621005849/work
cupy-cuda91==6.5.0
cycler==0.10.0
Cython @ file:///home/conda/feedstock_root/build_artifacts/cython_1594253470382/work
cytoolz==0.10.1
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1600489134093/work
decorator==4.4.2
defusedxml==0.6.0
demon==2.0.4
diff-match-patch @ file:///home/conda/feedstock_root/build_artifacts/diff-match-patch_1594679019945/work
distributed @ file:///home/conda/feedstock_root/build_artifacts/distributed_1600490204210/work
docutils==0.16
entrypoints==0.3
enum34==1.1.6
et-xmlfile==1.0.1
eva-lcd==0.1.0
fastcache==1.1.0
fastrlock==0.4
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1589994591731/work
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1594584774608/work
Flask==1.1.2
flika==0.2.30
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1599759706358/work
future==0.18.2
gast==0.2.2
gensim @ file:///home/conda/feedstock_root/build_artifacts/gensim_1589441213562/work
geomstats==1.16
gevent @ file:///home/conda/feedstock_root/build_artifacts/gevent_1592657467591/work
glob2==0.7
gmpy2==2.1.0b1
google-api-core @ file:///home/conda/feedstock_root/build_artifacts/google-api-core-split_1599168895280/work
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1600272821875/work
google-auth-oauthlib==0.4.1
google-cloud-core @ file:///home/conda/feedstock_root/build_artifacts/google-cloud-core_1596721852962/work
google-cloud-storage @ file:///home/conda/feedstock_root/build_artifacts/google-cloud-storage_1598557481535/work
google-crc32c @ file:///home/conda/feedstock_root/build_artifacts/google-crc32c_1597069930917/work
google-pasta==0.1.8
google-resumable-media @ file:///home/conda/feedstock_root/build_artifacts/google-resumable-media_1598452053521/work
googleapis-common-protos==1.51.0
greenlet @ file:///home/conda/feedstock_root/build_artifacts/greenlet_1591368821264/work
grpcio @ file:///home/conda/feedstock_root/build_artifacts/grpcio_1596715635580/work
h5py==2.10.0
hdbscan==0.8.23
HeapDict==1.0.1
holoviews==1.12.6
html5lib @ file:///home/conda/feedstock_root/build_artifacts/html5lib_1592930327044/work
hvplot==0.5.2
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
imagecodecs-lite @ file:///home/conda/feedstock_root/build_artifacts/imagecodecs-lite_1591047254457/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1594044661732/work
imagesize==1.2.0
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1593211369179/work
infomap==1.0.0b47
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1596221474428/work
intervaltree==3.0.2
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1595446871027/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1598749946943/work
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1599554010055/work
isort @ file:///home/conda/feedstock_root/build_artifacts/isort_1599717611351/work
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.14.1
jeepney==0.4.3
Jinja2==2.11.2
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1589369830981/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1593624380152/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1591810480056/work
jsonschema==3.2.0
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1598486169312/work
jupyter-console @ file:///home/conda/feedstock_root/build_artifacts/jupyter_console_1598728807792/work
jupyter-core==4.6.3
jupyter-http-over-ws==0.0.6
jupyterlab==1.2.3
jupyterlab-pygments==0.1.1
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1593951277307/work
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring @ file:///home/conda/feedstock_root/build_artifacts/keyring_1600439396299/work
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
leidenalg==0.7.0
libarchive-c @ file:///home/conda/feedstock_root/build_artifacts/python-libarchive-c_1600468745950/work
llvmlite==0.34.0
locket==0.2.0
lxml @ file:///home/conda/feedstock_root/build_artifacts/lxml_1594322698782/work
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1589366472132/work
MarkupSafe==1.1.1
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-base_1600159101071/work
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mock @ file:///home/conda/feedstock_root/build_artifacts/mock_1588618847833/work
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1598643641143/work
mpmath==1.1.0
msgpack==1.0.0
multipledispatch==0.6.0
navigator-updater==0.2.1
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1598558657104/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert_1600286932766/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1594060262917/work
nd2reader==3.2.1
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1594996608835/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1598210780226/work
nf1==0.0.3
nltk==3.4.4
node2vec==0.2.2
nose==1.3.7
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1599742225943/work
numba @ file:///home/conda/feedstock_root/build_artifacts/numba_1599084798687/work
numexpr==2.7.1
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1597938346492/work
numpydoc @ file:///home/conda/feedstock_root/build_artifacts/numpydoc_1593656006205/work
oauthlib==3.1.0
olefile==0.46
omega-index-py3==0.3
openpyxl @ file:///home/conda/feedstock_root/build_artifacts/openpyxl_1598029012711/work
openslide-python==1.1.1
opt-einsum==3.2.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1589925210001/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1599600961279/work
pandocfilters==1.4.2
panel==0.7.0
param==1.9.3
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1596584577899/work
partd==1.1.0
path @ file:///home/conda/feedstock_root/build_artifacts/path_1595896292270/work
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1594213010297/work
PIMS @ file:///home/conda/feedstock_root/build_artifacts/pims_1592596346202/work
pkgconfig==1.5.1
pkginfo==1.5.0.1
plotly==4.5.0
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1592827471208/work
ply==3.11
pquality==0.0.7
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1590412252446/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1598885455507/work
protobuf==3.13.0
psutil==5.7.0
ptyprocess==0.6.0
PuLP==1.6.10
py @ file:///home/conda/feedstock_root/build_artifacts/py_1593088446458/work
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.19.1
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1589305246696/work
pycosat==0.6.3
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pycrypto==2.6.1
pyct==0.4.6
pycurl==7.43.0.5
pydocstyle @ file:///home/conda/feedstock_root/build_artifacts/pydocstyle_1598747747227/work
pyflakes==2.2.0
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1600347314331/work
pylint @ file:///home/conda/feedstock_root/build_artifacts/pylint_1598117058668/work
pymatreader==0.0.20
pyodbc==4.0.30
PyOpenGL==3.1.5
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
pyqtgraph==0.10.0
PyQtWebEngine==5.12.1
pyrsistent @ file:///home/conda/feedstock_root/build_artifacts/pyrsistent_1599988183291/work
pysam==0.16.0.1
PySocks==1.7.1
pytest==6.0.2
python-dateutil==2.8.1
python-igraph==0.7.1.post6
python-jsonrpc-server @ file:///home/conda/feedstock_root/build_artifacts/python-jsonrpc-server_1599827444631/work
python-language-server==0.31.5
python-louvain==0.13
pytz==2020.1
pyvips==2.1.12
pyviz-comms @ file:///home/conda/feedstock_root/build_artifacts/pyviz_comms_1594121601757/work
PyWavelets @ file:///home/conda/feedstock_root/build_artifacts/pywavelets_1599487501905/work
pyxdg==0.26
PyYAML==5.3.1
pyzmq==19.0.2
QDarkStyle @ file:///home/conda/feedstock_root/build_artifacts/qdarkstyle_1597162770358/work
QtAwesome @ file:///home/conda/feedstock_root/build_artifacts/qtawesome_1588715536397/work
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole_1599147533948/work
QtPy==1.9.0
regex @ file:///home/conda/feedstock_root/build_artifacts/regex_1594799371287/work
requests==2.23.0
requests-oauthlib==1.3.0
retrying==1.3.3
rope @ file:///home/conda/feedstock_root/build_artifacts/rope_1588950285934/work
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1591996208734/work
Rtree==0.9.4
ruamel-yaml-conda @ file:///home/conda/feedstock_root/build_artifacts/ruamel_yaml_1598972306942/work
s3transfer==0.3.3
scikit-image==0.17.2
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1596546074663/work
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy_1595583586868/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-base_1599592695803/work
SecretStorage==3.1.2
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
sip==4.19.24
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
slicerator==1.0.0
smart-open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_1598572939086/work
snap-stanford==5.0.0
snowballstemmer==2.0.0
sortedcollections @ file:///home/conda/feedstock_root/build_artifacts/sortedcollections_1591583091437/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1591999956871/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1597680516047/work
Sphinx @ file:///home/conda/feedstock_root/build_artifacts/sphinx_1597405755328/work
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-websupport_1597058540894/work
spyder==4.0.1
spyder-kernels @ file:///home/conda/feedstock_root/build_artifacts/spyder-kernels_1599014433292/work
SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/sqlalchemy_1597701920245/work
statsmodels @ file:///home/conda/feedstock_root/build_artifacts/statsmodels_1598551025620/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1597017436198/work
tables==3.6.1
tblib==1.6.0
tensorboard==2.0.2
tensorflow==2.0.1
tensorflow-estimator==2.0.1
tensorly==0.4.4
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl @ file:///tmp/tmp79xdzxkt/threadpoolctl-2.1.0-py3-none-any.whl
tifffile==2019.7.26.2
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1589469402899/work
toolz==0.10.0
torch==1.4.0
torchvision==0.2.1
tornado==6.0.4
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1599956693194/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1599471676085/work
typed-ast==1.4.1
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1588470653596/work
ujson @ file:///home/conda/feedstock_root/build_artifacts/ujson_1599590941448/work
umap-learn==0.3.10
umi-tools==1.0.0
unicodecsv==0.14.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1595434816409/work
vtk==8.2.0
watchdog @ file:///home/conda/feedstock_root/build_artifacts/watchdog_1595646275420/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1595859607677/work
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1594164347302/work
wrapt==1.11.2
wurlitzer==2.0.0
xlrd @ file:///home/conda/feedstock_root/build_artifacts/xlrd_1595712200082/work
XlsxWriter @ file:///home/conda/feedstock_root/build_artifacts/xlsxwriter_1600488084438/work
xlwt==1.3.0
xmltodict==0.12.0
yapf @ file:///home/conda/feedstock_root/build_artifacts/yapf_1595950469082/work
zict==2.0.0
zipp==3.1.0
zope.event @ file:///home/conda/feedstock_root/build_artifacts/zope.event_1600479883063/work
zope.interface==5.1.0
